.card {
  position: relative;
  width: 360px;
  color: #fff;
  background-color: #222;
  height: 210px;
  margin: 40px 70px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  justify-items: center;
}

.card .imgbox {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.1);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in-out;
  backdrop-filter: blur(20px);
}

.card:hover .imgbox {
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
}

.card .content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
}

.card .content h3 {
  font-size: 1em;
  margin-bottom: 5px;
  font-weight: 500;
}

.card .content a {
  display: inline-block;
  font-size: 0.7em;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  background-size: 400%;
  z-index: 1;
}
